<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="layout :: htmlhead" ><title>507-交流社区</title></head>
<body>

<div th:replace="layout :: div_header"></div>
<div th:replace="layout :: div_column"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel">
        <div class="fly-panel-title fly-filter">
          <a>置顶</a>
          <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
        </div>
        <ul class="fly-list" id="fly-list-top">

        </ul>
      </div>

      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <a th:href="@{/column/all}" class="layui-this">综合</a>
          <span class="fly-mid"></span>
          <a th:href="@{/column/all/unsolved}">未结</a>
          <span class="fly-mid"></span>
          <a th:href="@{/column/all/solved}">已结</a>
          <span class="fly-mid"></span>
          <a th:href="@{/column/all/wonderful}">精华</a>
        </div>

        <ul class="fly-list" id="fly-list-main">

        </ul>
        <div style="text-align: center">
          <div class="laypage-main">
            <a th:href="@{/column/all}" class="laypage-next">更多求解</a>
          </div>
        </div>

      </div>
    </div>

    <div class="layui-col-md4">

      <div class="fly-panel">
        <h3 class="fly-panel-title">温馨通道</h3>
        <ul class="fly-panel-main fly-list-static">
          <li>
            <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
          </li>
          <li>
            <a href="http://fly.layui.com/jie/5366/" target="_blank">
              layui 常见问题的处理和实用干货集锦
            </a>
          </li>
          <li>
            <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
          </li>
          <li>
            <a href="http://fly.layui.com/jie/5366/" target="_blank">
              layui 常见问题的处理和实用干货集锦
            </a>
          </li>
          <li>
            <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
          </li>
        </ul>
      </div>


      <div class="fly-panel fly-signin">
        <div class="fly-panel-title">
          签到
          <i class="fly-mid"></i> 
          <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
          <i class="fly-mid"></i> 
          <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
          <span class="fly-signin-days">已连续签到<cite>16</cite>天</span>
        </div>
        <div class="fly-panel-main fly-signin-main">
          <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
          <span>可获得<cite>5</cite>飞吻</span>
          
          <!-- 已签到状态 -->
          <!--
          <button class="layui-btn layui-btn-disabled">今日已签到</button>
          <span>获得了<cite>20</cite>飞吻</span>
          -->
        </div>
      </div>

      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <script id="activeTpl" type="text/html">
          <h3 class="fly-panel-title">回贴周榜</h3>
          <dl>
            <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
            {{# for(var i = 0; i < d.length; i++){ }}
            <dd>
              <a th:href="@{/u/{{d[i].userid}}}">
                <img th:src="@{/img/{{d[i].headpicfileid}}}"><cite>{{d[i].nickname}}</cite><i>{{d[i].activenum}}次回答</i>
              </a>
            </dd>
            {{# } }}

            {{# if(d.length == 0){ }}
            <!-- 无数据时 -->
            <div class="fly-none">没有相关数据</div>
            {{# } }}
          </dl>
        </script>
      </div>

      <dl class="fly-panel fly-list-one" id="fly-list-hot">
        <script id="hotTpl" type="text/html">
          <dt class="fly-panel-title">本周热议</dt>
          {{# for(var i = 0; i < d.length; i++){ }}
            <dd>
              <a th:href="@{/jie/{{d[i].articleid}}}">{{d[i].title}}</a>
              <span><i class="iconfont icon-pinglun1"></i>{{d[i].commentnum}}</span>
            </dd>
          {{# } }}

          {{# if(d.length == 0){ }}
            <!-- 无数据时 -->
            <div class="fly-none">没有相关数据</div>
          {{# } }}
        </script>
        </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>
      
      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
          <dd><a href="http://www.layui.com/" target="_blank">layui</a><dd>
          <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a><dd>
          <dd><a href="http://layer.layui.com/" target="_blank">layer</a><dd>
          <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a><dd>
          <dd><a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE" class="fly-link">申请友链</a><dd>
        </dl>
      </div>

    </div>
  </div>
</div>

<div th:replace="layout :: div_footer"></div>

<script id="articleTpl" type="text/html">
    {{# for(var i = 0; i < d.length; i++){ }}
    <li>
        <a th:href="@{/u/{{d[i].userid}}}" class="fly-avatar">
            <img th:src="@{/img/{{d[i].headpicfileid}}}" alt="{{d[i].nickname}}">
        </a>
        <h2>
            <a class="layui-badge">{{d[i].type_string}}</a>
            <a th:href="@{/jie/{{d[i].articleid}}}">{{d[i].title}}</a>
        </h2>
        <div class="fly-list-info">
            <a th:href="@{/u/{{d[i].userid}}}" link>
                <cite>{{d[i].nickname}}</cite>
                {{# if(d[i].authinfo){  }}
                <i class="iconfont icon-renzheng" title="{{d[i].authinfo}}"></i>
                {{#  }  }}
                {{# if(d[i].vip_string){  }}
                <i class="layui-badge fly-badge-vip">{{d[i].vip_string}}</i>
                {{#  }  }}
            </a>
            <span>{{d[i].time_string}}</span>

            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i>{{d[i].rewardnum}}</span>

            {{# if(d[i].status_string){  }}
            <span class="layui-badge fly-badge-accept layui-hide-xs">{{d[i].status_string}}</span>
            {{#  }  }}
            <span class="fly-list-nums">
            <i class="iconfont icon-pinglun1" title="回答"></i>{{d[i].commentnum}}
        </span>
        </div>
        <div class="fly-list-badge">
            {{# if(d[i].top_string){  }}
            <span class="layui-badge layui-bg-black">{{d[i].top_string}}</span>
            {{#  }  }}
            {{# if(d[i].wonder_string){  }}
            <span class="layui-badge layui-bg-red">{{d[i].wonder_string}}</span>
            {{#   }  }}
        </div>
    </li>
    {{# } }}
</script>
<script th:inline="javascript">
    layui.use(['fly'],function (){
        var api = layui.api
        var fly = layui.fly
        var laytpl = layui.laytpl
        var $ = layui.jquery

        fly.json(api.format(api.blog.articlelist), {type:'all'}, function(res){
            var _tpl = $('#articleTpl').html();
            laytpl(_tpl).render(res, function (html) {
                $('#fly-list-top').html(html) //得到的模板渲染到html
            });
        },{type:'get'});

        fly.json(api.format(api.blog.articlelist), {type:'all',top:'top'}, function(res){
            var _tpl = $('#articleTpl').html();
            laytpl(_tpl).render(res, function (html) {
                $('#fly-list-main').html(html) //得到的模板渲染到html
            });
        },{type:'get'});

        fly.json(api.format(api.blog.articlehot), {type:'all'}, function(res){
            var _tpl = $('#hotTpl').html();
            laytpl(_tpl).render(res, function (html) {
                $('#fly-list-hot').html(html) //得到的模板渲染到html
            });
        },{type:'get'});

        fly.json(api.format(api.blog.activelist), {}, function(res){
            var _tpl = $('#activeTpl').html();
            laytpl(_tpl).render(res, function (html) {
                $('#LAY_replyRank').html(html) //得到的模板渲染到html
            });
        },{type:'get'});
    })
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>